/* destroy sidebar */
div[data-testid="sidebarColumn"] {
  display: none;
}
/* time-line size fix */
main[role="main"] > div {
  width: 600px;
}
/* messages */
main[role="main"] > div section[aria-label="Section details"][role="region"] {
  width: 400px;
}
